!!!
%head
  = javascript_include_tag 'recordFile'
  %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", :integrity => "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", :rel => "stylesheet"}/
  %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
%body
  .p-3.mb-2.bg-primary.text-white
    %h2
      MED 1094 Ankle Sprain Examination
    %h1
      %b
        #3 Station 3
    %h5{:align => "right"}
      #demo
      %button.btn.btn-secondary#startTimer{:display => "block", :type => "button"}Start timer

  %p{:align => "center"}
    John Doe           001473829

  %h1
    %b
      %u John Doe

  %form
    - @osces.each do |osce|
      %h4
        %b= osce.criteria_description
      %p{:style => "color:red"}Ask candidate what they are observing form
      %p Comfort, colour, pain, conscious level
      .btn-group.btn-group-toggle{"data-toggle" => "buttons", :style => "width:100%"}
        %label.btn.btn-primary.active
          %input#option1{:autocomplete => "off", :checked => "checked", :name => "options", :type => "radio"}/
          Fully Met
        %label.btn.btn-primary
          %input#option2{:autocomplete => "off", :name => "options", :type => "radio"}/
          Partially Met
        %label.btn.btn-primary
          %input#option3{:autocomplete => "off", :name => "options", :type => "radio"}/
          Not Met
      %h5 Feedback
      %textarea{:style => "width:100%", :rows => "3", :placeholder => "Comments"}

    .btn-group{"aria-label" => "Basic example", :role => "group"}
      %button.btn.btn-danger#record{:type => "button"}record
      %button.btn.btn-danger#stopRecord{:type => "button"}stop recording
    #timer2
    %p{:style => "text-align: right"} Pass/Fail
    %button#resultButton{:class => "btn float-right", :type => "button", :value => "Pass"}Pass
    %a#download
    %p
      %audio#recordedAudio
    %h4{:style => "padding-top: 2em"}
      %b Overall Feedback
    %textarea{:style => "width:100%; padding-top: 2em; padding-bottom:1em", :rows => "3", :placeholder => "Overall Comments"}

    %input#submitButton{:onclick => "location.href='http://google.com';", :type => "button", :value => "Submit", :class => "btn float-right"}
    %p= link_to 'Submit', answers_path

%table
  %tr
    %th name
    %th Criteria discription
    %th Criteria Critical
    %th Station id

  - @osces.each do |osce|
    %tr
      %td= osce.id
      %td= osce.criteria_description
      %td= osce.criteria_critical
      %td= osce.station_id
