-# frozen_string_literal: true
= simple_form_for(@criterium) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :criteria_id
    = f.input :criteria_description
    = f.input :criteria_critical
    = f.input :station_id

  .form-actions
    = f.button :submit
