%h1 New criterium

= simple_form_for(@criterium) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :criteria_description, label: 'Criteria Description'
    = f.input :criteria_critical, label: 'Critical'
    = f.input :station_id

  .form-actions
    = f.button :submit

= link_to 'Back', criteria_path
