-# frozen_string_literal: true
= simple_form_for(@station) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :station_id
    = f.input :station_name
    = f.input :pass_mark
    = f.input :exam_id

  .form-actions
    = f.button :submit
