-# Station Fields
= simple_form_for(@station) do |station|

  .form-actions
    = link_to 'Back', edit_exam_path(@station.exam_id), class: 'btn btn-default'
    = link_to 'View', @station, class: 'btn btn-default'
    = station.button :submit, 'Save'
  %br

  .form-section
    %h4 Station
    = station.error_notification
    = station.error_notification message: station.object.errors[:base].to_sentence if station.object.errors[:base].present?
    .form-inline
      = station.input :station_name
      = station.input :pass_mark


  .form-section
    -# Criteria Fields
    %h4 Criteria
    = station.simple_fields_for :criteria,  @station.criteria.sort_by(&:number) do |criterium|
      = criterium.error_notification
      = criterium.error_notification message: criterium.object.errors[:base].to_sentence if criterium.object.errors[:base].present?
      .form-group-border.form-inline
        .form-group
          .form-inline
            = criterium.input :number
          = criterium.input :criteria_critical, label: 'Critical'
        = criterium.input :criteria_description, label: 'Description'

    .form-controls
      = link_to 'New Criteria', criterium_path(@station.id), class: 'btn btn-default', method: :post

  .form-section
    -# Answers Fields
    %h4 Answers
    = station.simple_fields_for :answers, @station.answers.sort_by(&:score) do |answer|
      = answer.error_notification
      = answer.error_notification message: answer.object.errors[:base].to_sentence if answer.object.errors[:base].present?
      .form-group-border
        = answer.input :text, label: 'Name'
        = answer.input :score

    .form-controls
      = link_to 'New Answer', answer_path(@station.id), class: 'btn btn-default', method: :post
