%h1 Listing stations

%table
  %thead
    %tr
      %th Station
      %th Station name
      %th Pass mark
      %th Exam
      %th
      %th
      %th

  %tbody
    - @stations.each do |station|
      %trcom
        %td= station.id
        %td= station.station_name
        %td= station.pass_mark
        %td= station.exam_id
        %td= link_to 'Show', station
        %td= link_to 'Edit', edit_station_path(station)
        %td= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Station', new_station_path
