!!!
%html
  %head
    %title Station Selection
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
  %body
    .container
      %br/
      %header
        %h1 MED1234 Exam: Stations

      %table.table.table-striped.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %th Station
          %th Station Name
          %th Pass Mark
          %th Exam
      %tbody
        - @stations.each do |station|
          %tr
            %td= station.station_id
            %td= station.station_name
            %td= station.pass_mark
            %td= station.exam_id
            %td= link_to 'Choose Station', station

    = link_to 'New Station', new_station_path
