%p#notice= notice

%h3= @station[:station_name]
%p
  %b Pass mark:
  = @station.pass_mark

%table.table.thead-dark.table-bordered
  %thead
    %tr
      %th Criteria
      - answers = Answer.where(station_id: @station.id).order(:score)
      - answers.each do |answer|
        %th= answer[:text]

  %tbody
    - Criterium.where(station_id: @station.id).order(:number).each do |criterium|
      %tr
        %td= criterium[:criteria_description]
        -answers.each do |a|
          %td 
            
= link_to 'Edit', edit_station_path(@station)
\|
= link_to 'Back', stations_path
