%div#stationsView
    #{@exam_show.first.module_code}
    %br
    %h3{:style=>"margin-top:0;display:inline"} #{@exam_show.first.exam_code} #{@exam_show.first.name}
    %span.pull-right There #{@station.count>1? 'are':'is'} #{@station.count} #{@station.count>1? 'stations':'station'} available

%h3= @station[:station_name]
%p
  %b Pass mark:
  = @station.pass_mark

%table.table.thead-dark.table-bordered
  %thead
    %tr
      %th Criteria
      - answers = Answer.where(station_id: @station.id).order(:score)
      - answers.each do |answer|
        %th= answer[:text]

  %tbody
    - Criterium.where(station_id: @station.id).order(:number).each do |criterium|
      %tr
        %td= criterium[:criteria_description]
        -answers.each do |a|
          %td

= link_to 'Edit', edit_station_path(@station)
\|
= link_to 'Back', stations_path
