%p#notice= notice

%p
  %b Module code:
  = @uni_module.module_code
%p
  %b Module name:
  = @uni_module.module_name

= link_to 'Edit', edit_uni_module_path(@uni_module)
\|
= link_to 'Back', uni_modules_path
