%h1 Students

= form_tag destroy_multiple_students_path, method: :delete
%table.table.table-hover
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Username
      %th Student ID
      %th
      /  %input{type: "checkbox", id:"selectAll"}
      / %th= submit_tag "Delete selection", class: "btn btn-primary btn-xs", data: { confirm: 'Are you sure?' }

  %tbody
    - @students.each do |student|
      %tr
        %td= student.surname
        %td= student.forename
        %td= student.username
        %td= student.regno
        / %td= check_box_tag "student_regnos[]", student.regno, false, class: 'selectable'

%h5
  = link_to 'Import or create new students', new_student_path, class: 'ajax-modal'



-#  %h2 Modules

    %table.table.table-hover
      %thead
        %tr
          %th Module code
          %th Module name
          %th
          %th
          %th

      %tbody
        - @modules.each do |uni_module|
          %tr
            %td= uni_module.module_code
            %td= uni_module.module_name
            %td= link_to 'Edit', edit_uni_module_path(uni_module), class: 'ajax-modal'
            %td= link_to 'Delete', uni_module, method: :delete, data: { confirm: 'Are you sure?' }
    %h5
      = link_to 'New module', new_uni_module_path, class: 'ajax-modal'
