!!!
%html
  %head
    %title Module Lead - Student Selection
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
    %script{:src => "assets/"}
  %body
    .container
      %div#blueHeader
        %h3{:style => "display: inline"} MED1094 Ankle Sprain Examination
        %p
          %h3{:style => "display: inline"} #3 Station |
          &nbsp &nbsp Select a student below to examine
      %div#formBody
        %nav.navbar.navbar-default.navbar-static-top
          %div.container
            %ul.nav.navbar-nav.navbar-center
              = navbar_link_to 'show_remaining_students_path', title: 'Remaining', identifier: :show_remaining do
                Remaining
              = navbar_link_to 'show_completed_students_path', title: 'Remaining', identifier: :show_completed do
                Completed

      .panel.panel-default
        .panel-body
          %p Search student by
          = simple_form_for :search, url: search_students_path, method: :post do |f|
            .d-inline
              = f.input :student_id, as: :string, required: false, label: false do
                = f.input_field :student_id, class: "form-control", :placeholder => "Student ID"

            = f.input :surname, as: :string, required: false, label: false do
              = f.input_field :surname, class: "form-control", :placeholder => "Surname"

            .pull-right
              = link_to 'Reset', students_path, :class => 'btn'
              .pull-right{:style => "margin-left:25px"}
                = f.submit 'Search', :class => 'btn'

      %table.table.table-hover
        %header
          %h4
            %u Students To Be Examined
          %p There are #{@students.size} students to be examined

          %thead.bg-primary
            %tr
              %th First Name
              %th Last Name
              %th Student ID
              %th Registration Number
              %th Action
          %tbody
            - @students.each do |student|
              %tr
                %td= student.forename
                %td= student.surname
                %td= student.student_id
                %td= student.regno
                %td= link_to 'Start Examination', student

      = link_to 'Add New Student', new_student_path, :class => 'btn'
      %br/

      %form{:action => "/stations", :method => "GET"}
        %button.btn.btn-primary{:type => "submit", :href => "#{@station_path}"} Back to Station
      %br/
