!!!
%html
  %head
    %title Module Lead - Student Selection
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
  %body
    .container
      %br/
      %header
        %h1 Station #{@station.id} : #{@station.station_name} Examination
      %br/

      %p There are #{@students.size} students to be examined

      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %header
          %h4
            %u Students To Be Examined
          %thead
            %tr
              %th First Name
              %th Last Name
              %th Student ID
              %th Registration Number
          %tbody
            - @students.each do |student|
              %tr
                %td= student.forename
                %td= student.surname
                %td= student.student_id
                %td= student.regno
                %td= link_to 'Start Examination', student

      = link_to 'Add New Student', new_student_path
      %br/
      %br/

      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %header
          %h4
            %u Previous Students Examined
        %thead
          %tr
            %th First Name
            %th Last Name
            %th Student ID
            %th Registration Number
        %tbody
          - @students.each do |student|
            %tr
              %td= student.forename
              %td= student.surname
              %td= student.student_id
              %td= student.regno
              -# LInk to Matt's module lead page
              %td= link_to 'View Script', student
              %td= link_to 'Edit Script', student
      %form{:action => "/stations", :method => "GET"}
        %button.btn.btn-primary{:type => "submit", :href => "#{@station_path}"} Back to Stations
