%h2 Students

= form_tag destroy_multiple_students_path, method: :delete
.pull-right
  = submit_tag "Delete selected", class: "btn btn-primary btn-xs", data: { confirm: 'Are you sure?' }
%table.table.table-hover
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Username
      %th Student ID
      %th
        %input{type: "checkbox", id:"selectAll"}


  %tbody
    - @students.each do |student|
      %tr
        %td= student.surname
        %td= student.forename
        %td= student.username
        %td= student.regno
        -# %td= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }
        %td= check_box_tag "student_regnos[]", student.regno, false, class: 'selectable'

%h5
  = link_to 'Import or create new students', new_student_path, class: 'ajax-modal'
