.modal-dialog
  .modal-content
    .modal-header
      %button.close{ type: :button, data: { dismiss: :modal } }
        %span &times;
      %h2.modal-title Import from CSV
    .modal-body
      = form_tag student_import_students_path, multipart: true do
        .pull-left
          = file_field_tag :file
        .pull-right
          = submit_tag "Upload Students"

    = simple_form_for(@student) do |f|
      .modal-header
        %h2.modal-title New student
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .modal-body
        = f.input :forename
        = f.input :surname
        = f.input :username
        = f.input :regno

      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit
