= render 'top'

%table.table.table-hover
  %header
    %h4
      %u Students To Be Examined
    %p There are #{@remaining_students.size} students to be examined

    %thead.bg-primary
      %tr
        %th First Name
        %th Last Name
        %th Student ID
        %th Registration Number
        %th Action
    %tbody
      - @remaining_students.each do |student|
        %tr
          %td= student.forename
          %td= student.surname
          %td= student.student_id
          %td= student.regno
          %td= link_to 'Start Examination', student

= link_to 'Add New Student', new_student_path, :class => 'btn'
%br/
%br/

= render 'bottom'
