-# frozen_string_literal: true
= simple_form_for(@user) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :username
    = f.input :givenname, label: 'Forename'
    = f.input :sn, label: 'Surname'
    = f.input :admin


  .form-actions
    = f.button :submit


        specify 'I can delete an admin' do
          admintest = FactoryBot.create :admin, username: 'AdminUsername'
          # moduleleadtest = FactoryBot.create :modulelead, username: 'ModuleleadUsername'
          visit '/'
          click_link 'Delete'
          expact(page).to have_content 'Are you sure?'
          click_button 'OK'
          expect(page).to_not have_content 'AdminUsername'
        end
