- content_for :title, "Users"

= link_to 'New User', new_user_path, class: 'btn btn-default'



%table.table.table-hover

  %thead
    %tr
      %th
        %h1 Admins
        
  %thead
    %tr
      %th Username
      %th Name
      %th
      %th
      %th
 
  %tbody
    - @admins.each do |user|
      %tr
        %td= user.username
        - if user.givenname.blank? or user.sn.blank?
          %td Available after first login
        - else
          %td= user.givenname.to_s + " " + user.sn.to_s
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }




  %thead
    %tr
      %th
        %h1 Module Leads

  %thead
    %tr
      %th Name
      %th Username
      %th
      %th
      %th

  %tbody
    - @module_leads.each do |user|
      %tr
        %td= user.username
        - if user.givenname.blank? or user.sn.blank?
          %td Available after first login
        - else
          %td= user.givenname.to_s + " " + user.sn.to_s
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }




  %thead
    %tr
      %th
        %h1 Moderators

  %thead
    %tr
      %th Name
      %th Username
      %th
      %th
      %th

  %tbody
    - @moderators.each do |user|
      %tr
        %td= user.username
        - if user.givenname.blank? or user.sn.blank?
          %td Available after first login
        - else
          %td= user.givenname.to_s + " " + user.sn.to_s
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }