- content_for :title, "Users"

%table
  %tbody
    %tr
      %td= "Name:"
      - if @user.givenname.blank? or @user.sn.blank?
        %td Available after first login
      - else
        %td= @user.givenname.to_s + " " + @user.sn.to_s
    %tr
      %td= "Username:"
      %td= @user.username
    %tr
      %td= "User type:"
      %td= @user.user_type
    %tr
      %td= "Email:"
      - if @user.givenname.blank? or @user.sn.blank?
        %td Available after first login
      - else
        %td= @user.givenname.to_s + " " + @user.sn.to_s

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
