-# frozen_string_literal: true
= simple_form_for(@criteria_result) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :criteria_feedback_id
    = f.input :criteria_mark
    = f.input :answer
    = f.input :station_id

  .form-actions
    = f.button :submit
