-# frozen_string_literal: true
= simple_form_for(@station_result) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :result_id
    = f.input :station_id
    = f.input :student_id
    = f.input :examiner_name
    = f.input :mark
    = f.input :feedback
    = f.input :audio

  .form-actions
    = f.button :submit
