-# frozen_string_literal: true
= simple_form_for(@exam) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :exam_code
    = f.input :date
    = f.input :name
    = f.input :module_code

  .form-actions
    = f.button :submit
