-# frozen_string_literal: true
= simple_form_for(@exam) do |exam|
  = exam.error_notification
  = exam.error_notification message: exam.object.errors[:base].to_sentence if exam.object.errors[:base].present?

  -# Exam Fields
  .exam.form-inputs
    = exam.input :exam_code
    = exam.input :date
    = exam.input :name
    = exam.input :module_code

  .form-actions
    = exam.button :submit