-# frozen_string_literal: true
= simple_form_for(@exam) do |exam|
  = exam.error_notification
  = exam.error_notification message: exam.object.errors[:base].to_sentence if exam.object.errors[:base].present?

  .form-actions
    = link_to 'Back', exams_path, class: 'btn btn-default'
    = link_to 'View', @exam, class: 'btn btn-default'
    = exam.button :submit, 'Save'
  %br

  -# Exam Fields
  .exam.form-inputs.form-section
    %h3 Exam
    = exam.input :name
    = exam.input :exam_code
    = exam.input :date
    = exam.input :module_code

= link_to 'Import or create new students', exam_import_path(@exam), class: 'ajax-modal'
%br
