%div
  .left-section
    = render 'form'
  .right-section.form-section

    %h3 Students
    %table.table
      %thead
        %tr
          %th Name
          %th Username
          %th Registration Number
          %th
          %th
      %tbody
        - @exam.students.each do |student|
          %tr
            %td= student.forename.to_s+" "+student.surname.to_s
            %td= student.username
            %td= student.regno
            %td= link_to 'Edit', edit_student_path(student.username)
            %td= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }
    = link_to 'Import or create new students', exam_edit_import_path(@exam.exam_code), class: 'ajax-modal'

%br

.form-section
  %h3
    Stations
    = link_to 'New Station', station_path(@exam.exam_code), class: 'btn btn-default', method: :post

  -Station.where(exam_id: @exam.exam_code).each do |station|
    .form-section
      %h4
        = station[:station_name]
        = link_to 'Edit', edit_station_path(station), class: 'btn btn-default'
        = link_to 'Delete', station_path(station['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'

      %table.table.thead-dark.table-bordered
        %thead
          %tr
            %th Criteria
            - answers = Answer.where(station_id: station.id).order(:score)
            - answers.each do |answer|
              %th= answer[:text]

        %tbody
          - Criterium.where(station_id: station.id).order(:number).each do |criterium|
            %tr
              %td= criterium[:criteria_description]
              -answers.each do |a|
                %td
  %br
= link_to 'Delete', @exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default'
