- if can?(:manage, Exam)
  %h1 Listing exams

  -#
    un-deployed:0, deployed:1, completed:2, archive:3, template:4

  %h1 Un-Deployed Exams

  %table.table.table-hover
    %thead
      %tr
        %th Exam code
        %th Exam date
        %th Exam name
        %th Module code
        %th
        %th
        %th
        %th

    %tbody
      - @undeployed.each do |exam|
        %tr
          %td= exam.exam_code
          %td= exam.date
          %td= exam.name
          %td= exam.module_code
          %td= link_to 'View', exam
          %td= link_to 'Edit', edit_exam_path(exam)
          %td= link_to('Deploy', exam_path(exam, :exam => {:status => 1} ), :method => :put)
          %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Exam', new_exam_path

  %h1 Deployed Exams

  %table.table.table-hover
    %thead
      %tr
        %th Exam code
        %th Exam date
        %th Exam name
        %th Module code
        %th
        %th
        %th
        %th

    %tbody
      - @deployed.each do |exam|
        %tr
          %td= exam.exam_code
          %td= exam.date
          %td= exam.name
          %td= exam.module_code
          %td= link_to 'View', exam
          %td= link_to 'Edit', edit_exam_path(exam)
          %td= link_to('Un-Deploy',        exam_path(exam, :exam => {:status => 0} ), :method => :put)
          %td= link_to('Move to Complete', exam_path(exam, :exam => {:status => 2} ), :method => :put)
          %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  %h1 Completed Exams
  %table
    %thead
      %tr
        %th Exam code
        %th Exam date
        %th Exam name
        %th Module code
        %th
        %th
        %th

    %tbody
      - @completed.each do |exam|
        %tr
          %td= exam.exam_code
          %td= exam.date
          %td= exam.name
          %td= exam.module_code
          %td= link_to 'View', exam
          %td= link_to 'Edit', edit_exam_path(exam)
          %td= link_to 'Results', ''
          %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

  %br
- else
  %div#examsToday
    %p    
      %h3{:style => "display: inline"} Today's #{@exam_today.count>1? 'Exams':'Exam' }   |
      &nbsp &nbsp #{Time.now.strftime("%d/%m/%Y")}
        
    %table.table
      %thead
        %tr
          %th{:scope=>"col"} Module Code
          %th{:scope=>"col"} Examination Title
          %th{:scope=>"col"} Action
      %tbody
        - @exam_today.each do |exam_today|
          %tr
            %td= exam_today.module_code
            %td= exam_today.name
            %td= link_to 'Select', station_path(exam_today.module_code)
    = will_paginate @exam_today, :param_name => 'exam_today_page' ,:renderer => WillPaginate::ActionView::LinkRenderer, :class=>"text-center"

  %div#examsUpcoming
    %p 
      %h3{:style => "display: inline"}Upcoming #{@exam_today.count>1? 'Exams':'Exam' } 
      &nbsp &nbsp Total = #{@exam_upcoming.count}
    %table.table
      %thead
        %tr
          %th{:scope=>"col"} Module Code
          %th{:scope=>"col"} Examination Title
          %th{:scope=>"col"} Action
      %tbody
        - @exam_upcoming.each do |exam_upcoming|
          %tr
            %td= exam_upcoming.module_code
            %td= exam_upcoming.name
            %td= link_to 'Select', exams_path
    = will_paginate @exam_upcoming, :param_name => 'exam_upcoming_page' ,:renderer => WillPaginate::ActionView::LinkRenderer, :class=>"text-center"
