%h1 Listing exams

-#
  un-deployed:0, deployed:1, completed:2, archive:3, template:4

%br
= link_to 'New Exam', new_exam_path, class:"btn btn-default"

%h1 Un-Deployed Exams

%table.table
  %thead
    %tr
      %th Exam code
      %th Exam date
      %th Exam name
      %th Module code
      %th
      %th
      %th
      %th

  %tbody
    - @undeployed.each do |exam|
      %tr
        %td= exam.exam_code
        %td= exam.date
        %td= exam.name
        %td= exam.module_code
        %td= link_to 'View', exam
        %td= link_to 'Edit', edit_exam_path(exam)
        %td= link_to('Deploy', exam_path(exam, :exam => {:status => 1} ), :method => :put)
        %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

%br

%h1 Deployed Exams

%table.table.table-hover
  %thead
    %tr
      %th Exam code
      %th Exam date
      %th Exam name
      %th Module code
      %th
      %th
      %th
      %th

  %tbody
    - @deployed.each do |exam|
      %tr
        %td= exam.exam_code
        %td= exam.date
        %td= exam.name
        %td= exam.module_code
        %td= link_to 'View', exam
        %td= link_to('Un-Deploy',        exam_path(exam, :exam => {:status => 0} ), :method => :put)
        %td= link_to('Move to Complete', exam_path(exam, :exam => {:status => 2} ), :method => :put)
        %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

%br

%h1 Completed Exams
%table.table.table-hover
  %thead
    %tr
      %th Exam code
      %th Exam date
      %th Exam name
      %th Module code
      %th
      %th
      %th
      %th
      %th

  %tbody
    - @completed.each do |exam|
      %tr
        %td= exam.exam_code
        %td= exam.date
        %td= exam.name
        %td= exam.module_code
        %td= link_to 'View', exam
        %td= link_to 'Results', exam_results_url(exam.exam_code)
        %td= link_to 'Move to Deployed', exam_path(exam, :exam => {:status => 1} ), :method => :put
        %td= link_to 'Move to Archive', exam_path(exam, :exam => {:status => 3} ), :method => :put
        %td= link_to 'Delete', exam, method: :delete, data: { confirm: 'Are you sure?' }

%br