%h1 Listing exams

%table
  %thead
    %tr
      %th Exam code
      %th Exam date
      %th Exam name
      %th Module code
      %th
      %th
      %th

  %tbody
    - @exams.each do |exam|
      %tr
        %td= exam.exam_code
        %td= exam.exam_date
        %td= exam.exam_name
        %td= exam.module_code
        %td= link_to 'Show', exam
        %td= link_to 'Edit', edit_exam_path(exam)
        %td= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Exam', new_exam_path
