%div#examsToday
  %p Today's #{@exam_today.count>1? 'Exams':'Exam' }  &nbsp &nbsp #{Time.now.strftime("%d/%m/%Y")}
  %table.table
    %thead
      %tr
        %th{:scope=>"col"} Module Code
        %th{:scope=>"col"} Examination Title
        %th{:scope=>"col"} Action
    %tbody
      - @exam_today.limit(5).each do |exam_today|
        %tr
          %td= exam_today.module_code
          %td= exam_today.name
          %td= link_to 'Select', exams_path
        -# %tr
        -#   %td= product.name
        -#   %td= product.description
        -#   %td= product.cost
        -#   %td= link_to 'Show', product
        -#   %td= link_to 'Edit', edit_product_path(product)
        -#   %td= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }
  
  %p Upcoming Exams
  %table.table
    %thead
      %tr
        %th{:scope=>"col"} Module Code
        %th{:scope=>"col"} Examination Title
        %th{:scope=>"col"} Action
    %tbody
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path