%div#examsToday
  %p Today's Exams &nbsp &nbsp #{Time.now.strftime("%d/%m/%Y")}
  %table.table
    %thead
      %tr
        %th{:scope=>"col"} Module Code
        %th{:scope=>"col"} Examination Title
        %th{:scope=>"col"} Action
    %tbody
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path
  
  %p Upcoming Exams
  %table.table
    %thead
      %tr
        %th{:scope=>"col"} Module Code
        %th{:scope=>"col"} Examination Title
        %th{:scope=>"col"} Action
    %tbody
      %tr
        %td code
        %td title
        %td= link_to "Select", exams_path