!!!
%html
  %head
    %title Module Lead - Exam Chooser
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
  %body
    .container
      %br/
      %header
        .col-auto
          %h2.d-inline-block
            Examinations Chooser
            %button.btn.btn-primary.float-right{:type => "button"} Log Out
      %br/
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %header
          %h5
            %u Today's Examinations
            %thead
              %tr
                %th Exam Code
                %th Module Code
                %th Exam Name
                %th Exam Date

            %tbody
              - @exams.each do |exam|
                %tr
                  %td= exam.exam_code
                  %td= exam.module_code
                  %td= exam.name
                  %td= exam.date
                  %td= link_to 'Select Examination', stations_path

= link_to 'New Exam', new_exam_path
