%h1 FROM PREVIOUS
%h2 New exams from previous

.modal-dialog
  .modal-content
    .modal-header
      %button.close{ type: :button, data: { dismiss: :modal } }
        %span &times;


    = simple_form_for(@exam_new) do |f|
      .modal-header
        %h2.modal-title New exam from blank
        = f.error_notification
        = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

      .modal-body
        %h3 Exam
        %h6 Name
        = f.input :name, input_html: {placeholder: "Name"}
        %h6 Exam Code
        = f.input :exam_code
        %h6 Date
        = f.input :date
        %h6 Module Code
        = f.input :module_code

      .modal-footer
        .pull-left
          = dismiss_modal_button
        = f.button :submit, 'Save'

= link_to 'Back', exams_path
