!!!
%html
  %head
    %title OSCE Assessment Tool - #{content_for(:title)}
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %meta{ :'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    = stylesheet_link_tag    "application", media: :all
    = javascript_include_tag "application"
    = favicon_link_tag '/favicon.ico'
    = csrf_meta_tags

  %body{ class: environment_notice_body_class }
    = render 'layouts/environment_notice'
    .flash-messages
      - flash.each do |name, msg|
        - next unless name == 'alert' || name == 'notice'
        .alert.fade.in
          .container
            - if name == 'notice'
              = fa_icon('check', class: 'flash-success')
            - else
              = fa_icon('warning', class: 'flash-error')
            = msg
            %a{ href: '#', title: 'Hide this message', data: { dismiss: :alert } } Dismiss


    %noscript
      .warning-page-cover
        .alert.alert-info
          %h2 Sorry, it appears that you are using a web browser without JavaScript which prevents us offering you a rich online experience.
          %p Please enable JavaScript or use a different web browser, or alternatively contact the CiCS Helpdesk for assistance.

    #wrap
      %nav#main-nav.navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header
            %button.navbar-toggle{ data: { target: ".navbar-collapse", toggle: :collapse, type: :button } }
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to :root, class: 'navbar-brand hidden-sm' do
              OSCE Assessment Tool

          .collapse.navbar-collapse
            %ul.nav.navbar-nav
              - if can?(:read, User)
                = navbar_link_to :root, title: "Go to the home page", identifier: :home do
                  = fa_icon 'home'
                  Home

              - if can?(:manage, Exam)
                %li.dropdown
                  %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                    = fa_icon 'check-square'
                    Exams & OSCEs
                    %b.caret
                  %ul.dropdown-menu{"role" => "menu"}
                    %li
                      = navbar_link_to '/exams', title: "Go to the exams page", identifier: :exams do
                        = fa_icon 'file-o'
                        Exams
                      = navbar_link_to '/templates', title: "Go to the templates page", identifier: :templates do
                        = fa_icon 'copy'
                        Templates
                      = navbar_link_to '/archives', title: "Go to the archive page", identifier: :archive do
                        = fa_icon 'file-archive-o'
                        Archive

              - if can?(:read, User)
                = navbar_link_to '/users', title: "Go to the users page", identifier: :users do
                  = fa_icon 'users'
                  Users

              - if can?(:read, CriteriaResult)
                = navbar_link_to results_url, title: "Go to the results page", identifier: :criteria_result do
                  = fa_icon 'bar-chart'
                  Results
            
            - if user_signed_in?
              %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                  = link_to '#', data: { toggle: :dropdown }, class: 'dropdown-toggle', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false do
                    = fa_icon 'user', text: current_user.username
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      = link_to destroy_user_session_path, method: :delete, title: "Log out of the system" do
                        = fa_icon 'sign-out', text: 'Log out'
            -# - if (user_signed_in? && current_page?(:action=>'detail'))
            -#   %ul.nav.navbar-nav.navbar_right
            -#     %li
            -#       = fa_icon 'user', text: 'READY SCREEN'                  
                

      #main-container.container

        = yield

    %footer#footer
      .container
        %p
          &copy;#{Date.today.year}
          = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Goto the epiGenesys website'
